// font size
$base-font: 1.5rem;
$font-primary: 2.2rem;
$font-secondary: 1.8rem;

// colors
$color-primary: #e55039;
$color-secondary: #eb3b5a;
$color-red: #772621;
$color-white: #fff;
$color-black: #000;

//margin
$margin-small: 0.5rem;
$margin-mid: 1rem;
$margin-large: 4rem;