@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,600");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif; }

.btn {
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif;
  padding: 1rem 4rem;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 50px;
  cursor: pointer; }
  .btn:hover {
    box-shadow: 0 0 4rem rgba(119, 38, 33, 0.8);
    transform: translate(-50%, -0.2rem); }
  .btn:focus, .btn:active {
    outline: none;
    transform: translate(-50%, 0); }
